NEXT_PUBLIC_MAIN_CONTRACT = 0xB2A76aDFBcD3aF153F0789F07B5065C9F8A8530d
NEXT_PUBLIC_MAIN_PROVIDER = 'https://eth-rinkeby.alchemyapi.io/v2/Az46mnE6lzw8ErBWbFNn_SBo-KnCzzmv'
NEXT_PUBLIC_SECONDARY_PROVIDER = https://polygon-mainnet.g.alchemy.com/v2/kRM3PkCdafzPawH6DziNlah5olIrcNfl
NEXT_PUBLIC_SECONDARY_RPC = https://polygon-rpc.com/
NEXT_PUBLIC_USDC_ADDRESS = 0x2791bca1f2de4661ed88a30c99a7a9449aa84174
NEXT_PUBLIC_WMATIC_ADDRESS = 0x0d500b1d8e8ef31e21c99d1db9a6444d3adf1270
NEXT_PUBLIC_POLYGON_ID = 137
NEXT_PUBLIC_EXCHANGE_ADDRESS = 0x7c97b834b4c3a56120d1c441d55193efbd7e2ee2
NEXT_PUBLIC_NETWORK_NAME = polygon
NEXT_PUBLIC_MAIN_CONTRACT = 0xB2A76aDFBcD3aF153F0789F07B5065C9F8A8530d
NEXT_PUBLIC_MAIN_PROVIDER = 'https://eth-rinkeby.alchemyapi.io/v2/Az46mnE6lzw8ErBWbFNn_SBo-KnCzzmv'
NEXT_PUBLIC_SECONDARY_PROVIDER = https://polygon-mumbai.g.alchemy.com/v2/HxxZ-aFZZPrlenpzbC_UdAMg-4tN4UzM
NEXT_PUBLIC_SECONDARY_RPC = https://rpc-mumbai.maticvigil.com
NEXT_PUBLIC_USDC_ADDRESS = 0xf3cD27813B5ff6ADEA3805DCf181053AC62D6Ec3
NEXT_PUBLIC_WMATIC_ADDRESS = 0xB1407b800E10C6eF66AD91D8D26E22dB9AB22F3F
NEXT_PUBLIC_POLYGON_ID = 80001
NEXT_PUBLIC_EXCHANGE_ADDRESS = 0x9Cf0C4bB20d6a2565b695B7610dD5DDf19542a50
NEXT_PUBLIC_NETWORK_NAME = mumbai
NEXT_PUBLIC_API = https://code.thotakaa.com/bbweb3/api.php

NEXT_PUBLIC_MAGIC_KEY = pk_live_C61E342C79F06B65
